@tailwind base;
@tailwind components;
@tailwind utilities;

.shinyText {
	background: linear-gradient(145deg, #dcdcdc 40%, #ac72ff 80%, #dcdcdc 100%);
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 4000ms linear infinite;
}

@keyframes textclip {
	to {
		background-position: -200% center;
	}
}
